<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.ble_plugin">
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission
          android:name="android.permission.BLUETOOTH_SCAN"
          android:usesPermissionFlags="neverForLocation" />
  <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
  <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

  <application>
    <!-- Declare a foreground service for background BLE -->
    <service
      android:name=".BleService"
      android:exported="false"
      android:foregroundServiceType="connectedDevice|location" />
  </application>
</manifest>
